<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
<link rel="stylesheet" href="/styles.css">
  </head>
  <body id="bod">
    <div id="userName" style="display: none;"><%= userName %></div>
    <section class="chat">
      <div class="brand">
        <h2>whatsapp</h2>
    </div>
      <div class="message_area">
      </div>
   <textarea id="textarea" rows="1" cols="10" placeholder="Write a message..."></textarea>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script></script>
    <script src="/client.js"></script>
  </body>
</html>
